body {
    background-color: rgb(245, 245, 235);
}

h1 {
    color: blue;
    font-size: 40px;
    text-align: center;
}

content {
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width:600px) {
    content {
        width: 100%;
    }
}

section li {
    color: rgb(56, 155, 56);
}

section ul a:link,
section ul a:visited {
    background-color: rgb(242, 247, 177);
    border: 1.5px solid rgb(29, 29, 49);
    color: rgb(35, 39, 41);
    display: block;
    width: 200px;
    text-align: center;
    margin-bottom: 1px;
}

section ul a:hover,
section ul a:active {
    background-color: rgb(0, 255, 213);
    color: rgb(0, 128, 90);
}

section figure a {
    font-size: 20px;
    color: rgb(65, 65, 192);
}

footer {
    /*width: 960px;*/
    margin: 0 auto;
    background-color: black;
}

.relative {
    font-size: 15px;
    text-align: center;
    line-height: 60px;
    color: #FFF
}

footer a:link,
footer a:visited {
    color: rgb(181, 181, 247);
}

footer a:hover,
footer a:active {
    color: #FFF;
}

figure a:hover,
figure a:active {
    color: rgb(91, 182, 118);
}